<div class="ui-g ui-fluid seletor-panel">
    <div class="ui-g-12">
        <p-panel [toggleable]="true">
            <p-header>
                <i class="material-icons">&#xE7FB;</i> DORA / ADAM Overview
                <export-component></export-component>
            </p-header>
            <div class="card card-w-title filter-pan">
                <school-year-grade-test-filter (submit)="submit()"></school-year-grade-test-filter>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12">
        <div class="card card-w-title">
            <vjs-component class="resource" id="fora-adam-overview" [(params)]="parameters"></vjs-component>
        </div>
    </div>
</div>