<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <p-panel [toggleable]="true">
            <p-header>
                <i class="material-icons">people</i> Physical Fitness Overview
            </p-header>
            <div class="card card-w-title filter-pan">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-2">
                        <label class="control-label" for="selectedSchool">School</label>
                        <p-dropdown [options]="schools" [(ngModel)]="selectedSchool" (onChange)="schoolChange($event)" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-2">
                        <label class="control-label" for="selectedYear">School Year</label>
                        <p-dropdown [options]="schoolYears" [(ngModel)]="selectedYear" [autoWidth]="false"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-2">
                        <label class="control-label" for="selectedGrades">Grade</label>
                        <p-multiSelect [options]="grade" [(ngModel)]="selectedGrades"></p-multiSelect>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-2">
                        <label class="control-label">&nbsp;</label>
                        <button pButton type="button" label="Go" (click)="submit()" style="width:auto;"></button>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12">
        <div class="card card-w-title">
            <vjs-component class="resource" id="pft-overview" [(params)]="parameters"></vjs-component>
        </div>
    </div>
</div>