<div class="menu-horizontal" [ngClass]="{'hide':app.hasHorizontalSubMenuAccess()==false}">
    <ul class="topbar-left client-home-icon">
        <li><a href="#"> <i class="fa fa-home"></i></a></li>
    </ul>
    <ul class="pull-left">
        <li><a [ngClass]="{'active': selectedItem == 'dashboards'}" href="#/dashboard" (click)="onItemClick('dashboards')">Dashboards</a></li>
        <li><a [ngClass]="{'active': selectedItem == 'reports'}" href="#/reports" (click)="onItemClick('reports')">Reports</a></li>
    </ul>
    <ul class="pull-right">
        <li>
            <div id="google_translate_element"></div>
        </li>
    </ul>
</div>
