<div *ngIf="issinglepage==true">
    <router-outlet></router-outlet>
    <spinner></spinner><!--Added-->
    <translate-component class="hide"></translate-component>
</div>
<div *ngIf="issinglepage==false" class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'menu-layout-static': !isOverlay(),
                'menu-layout-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'menu-layout-horizontal': isHorizontal(),
                'menu-layout-slim': isSlim(),
                'layout-menu-static-inactive': staticMenuDesktopInactive,
                'layout-menu-static-active': staticMenuMobileActive,
                'top-sub-menu-active':hasHorizontalSubMenuAccess(),
                'client-topbar-active': isClientPage}">

    <!--topbar for non client users-->
    <app-topbar *ngIf="!isClientPage"></app-topbar>
    <app-top-horizontal-menu *ngIf="!isClientPage"></app-top-horizontal-menu>

    <!--topbar for the embedded client users-->
    <app-client-topbar *ngIf="isClientPage"></app-client-topbar>

    <div class="layout-menu-container" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
        <div #layoutMenuScroller class="nano">
            <div class="nano-content menu-scroll-content">
                <!--<app-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></app-inline-profile>-->
                <app-inline-page-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></app-inline-page-profile>
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </div>
    </div>

    <div class="layout-main">
        <spinner></spinner><!--Added-->
        <router-outlet></router-outlet>
    </div>

    <div class="layout-mask"></div>

    <app-footer></app-footer>
</div>