<div class="menu-horizontal" [ngClass]="{'hide':app.hasHorizontalSubMenuAccess()==false}">
    <ul class="topbar-left client-home-icon">
        <li title="Home"><a href="#" style="padding-top: 5px;"> <i class="material-icons">&#xE88A;</i></a></li>
    </ul>
    <ul class="pull-left">
        <li><a [ngClass]="{'active': selectedItem == 'dashboards'}" href="#/dashboard" (click)="onItemClick('dashboards')">Dashboards</a></li>
        <li><a [ngClass]="{'active': selectedItem == 'reports'}" href="#/reports" (click)="onItemClick('reports')">Reports</a></li>
    </ul>
</div>
