<div class="menu-horizontal" [ngClass]="{'hide':app.hasHorizontalSubMenuAccess()==false}">
    <ul class="pull-left">
        <li><a [ngClass]="{'active': selectedItem == 'dashboards'}" href="#/dashboard" (click)="onItemClick('dashboards')" >Dashboards</a></li>
        <li><a [ngClass]="{'active': selectedItem == 'reports'}"href="#/reports" (click)="onItemClick('reports')">Reports</a></li>        
    </ul>
    <!--<ul class="pull-right topbar-items fadeInDown">
        <li #categoryItems [ngClass]="{'active-top-menu':app.activeTopbarItem === categoryItems,'hide': app.activeCategoryDropdown ===false}">
            <a href="#" (click)="app.onTopbarItemClick($event,categoryItems)">Categories <i  class="fa fa-angle-down"></i></a>
            <ul class="layout-menu fadeInDown">
                <li role="menuitem" *ngFor="let category of app.categories">
                    <a href="{{ category.route }}">{{ category.name }}</a>
                </li>
            </ul>
        </li>
    </ul>-->
</div>
