<div class="client-topbar">
    <ul class="topbar-left client-home-icon">
        <li><a href="#/dashboard" style="padding-top: 5px;"> <i class="fa fa-home"></i></a></li>
    </ul>
    <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)"
       [ngClass]="{'hide': app.leftMenuToggleButtonActive === false, 'menu-button-rotate': app.rotateMenuButton}">
        <i class="fa fa-angle-left"></i>
    </a>
    <ul class="pull-right">
        <li>
            <translate-component></translate-component>
        </li>
    </ul>
</div>