<div class="client-topbar">
    <ul class="topbar-left client-home-icon">
        <li style="margin-right:0px;" title="Home"><a href="#/" style="padding-top: 5px;"> <i class="material-icons">&#xE88A;</i></a></li>
        <li style="padding-top: 5px;" title="Translate"><translate-component></translate-component></li>
    </ul>
    <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)"
       [ngClass]="{'hide': app.leftMenuToggleButtonActive === false, 'menu-button-rotate': app.rotateMenuButton}">
        <i class="fa fa-angle-left"></i>
    </a>
</div>