<div class="dashboard">
    <h1><i class="material-icons">dashboard</i> Dashboards</h1>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#/student-information">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/my-dashboard.png" />
                    </div>
                    <h1 class="card-title">Student Information</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#/assessments">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/assessments.png" />
                    </div>
                    <h1 class="card-title">Assessments</h1>
                </a>
            </div>
        </div>

        <!--<div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/my-dashboard.png" />
                    </div>
                    <h1 class="card-title">My Dashboard</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <div class="img-box">
                    <img class="img-responsive" src="./assets/layout/images/dashboard/school-report-card.png" />
                </div>
                <h1 class="card-title">School Report Card</h1>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/school-accountability.png" />
                    </div>
                    <h1 class="card-title">School Accountability</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/enrolment.png" />
                    </div>
                    <h1 class="card-title">EnrolmenT</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <div class="img-box">
                    <img class="img-responsive" src="./assets/layout/images/dashboard/attendance.png" />
                </div>
                <h1 class="card-title">Attendance</h1>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/state-testing.png" />
                    </div>
                    <h1 class="card-title">Satate Testing</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/assesments.png" />
                    </div>
                    <h1 class="card-title">Assesments</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/comparative-data.png" />
                    </div>
                    <h1 class="card-title">Comparative Data</h1>
                </a>
            </div>
        </div>-->
    </div>
</div>