<div class="dashboard">
    <h1><i class="material-icons">home</i> Home</h1>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="dashboard-card">
                <a href="#/dashboard">
                    <div class="card-image">
                        <div class="icon-wrapper">
                            <img class="img-responsive img-center" src="./assets/layout/images/home/dashboards.png" />
                        </div>
                    </div>
                    <div class="card-label">
                        <div class="label-inner">Dashboards</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="dashboard-card">
                <a href="#/reports">
                    <div class="card-image">
                        <div class="icon-wrapper">
                            <img class="img-responsive img-center" src="./assets/layout/images/home/reports.png" />
                        </div>
                    </div>
                    <div class="card-label">
                        <div class="label-inner">Reports</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>