<div class="dashboard">
    <h1><i class="material-icons">home</i> Home</h1>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#/dashboard">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/home/dashboards.png" />
                    </div>
                    <h1 class="card-title">Dashboards</h1>
                </a>
            </div>
        </div>

        <!--<div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <div class="img-box">
                    <img class="img-responsive" src="./assets/layout/images/home/reports.png" />
                </div>
                <h1 class="card-title">Reports</h1>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/home/configuration.png" />
                    </div>
                    <h1 class="card-title">Configuration</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/home/uploads.png" />
                    </div>
                    <h1 class="card-title">Uploads</h1>
                </a>
            </div>
        </div>-->

        
    </div>
</div>