<div class="dashboard">
    <h1><i class="material-icons">insert_chart</i> Reports</h1>
    <!--<div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#/student-information">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/my-dashboard.png" />
                    </div>
                    <h1 class="card-title">Student Information</h1>
                </a>
            </div>
        </div>

        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="card dashboard-card text-center">
                <a href="#/assessments">
                    <div class="img-box">
                        <img class="img-responsive" src="./assets/layout/images/dashboard/assessments.png" />
                    </div>
                    <h1 class="card-title">Assessments</h1>
                </a>
            </div>
        </div>
    </div>-->
</div>