<div class="ui-g ui-fluid seletor-panel">
    <div class="ui-g-12">
        <div class="card card-w-title content-card">
            &nbsp;
            <p-panel [toggleable]="true">
                <p-header class="text-normal">
                    Manage Assessments of Client
                </p-header>
                <p-growl [(value)]="msgs"></p-growl>
                <div class="ui-g form-group">
                    <!--<div class="ui-g-12 ui-md-12">

                    </div>-->
                    <div class="ui-g-12 ui-md-12" style="margin-bottom:-10px">
                        <div class="ui-g-1 ui-md-1"  style="padding-top:15px;">
                            <label class="text-bold">Client</label>
                        </div>
                        <div class="ui-g-3 ui-md-3">
                            <p-dropdown [options]="clientList" [(ngModel)]="newAssessment.client_id" [autoWidth]="false" placeholder="Select Client"></p-dropdown>
                        </div>
                        <div class="ui-g-1 ui-md-1">
                        </div>
                        <div class="ui-g-1 ui-md-1" style="padding-top:15px;">
                            <label class="text-bold">Assessment</label>
                        </div>
                        <div class="ui-g-3 ui-md-3">
                            <p-dropdown [options]="assessmentList" [(ngModel)]="newAssessment.id" [autoWidth]="false" placeholder="Select Assessment"></p-dropdown>
                        </div>

                        <div class="ui-g-1 ui-md-1">
                            <button pButton type="button" label="GO" (click)="loadAssessmentsOfClient()" style="width:auto;"></button>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-11 ui-md-11">

                        </div>
                        <div class="ui-g-1 ui-md-1 text-center" style="margin-bottom:-30px; margin-top:-20px">
                            <button pButton type="button" label="ADD" (click)="addNewMapping()"></button>
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12 fa-border" style="padding:-10px;">
                        <div class="ui-g-1 ui-md-1 text-left">
                            <label class="text-bold">Assessment</label><br />
                        </div>
                        <div class="ui-g-3 ui-md-3">
                            <label class="text-bold">Client</label><br />
                        </div>
                        <div class="ui-g-4 ui-md-4">
                            <label class="text-bold">Description</label><br />
                        </div>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <p-dataGrid [value]="assessmentOfClientList" [immutable]="false">
                            <ng-template let-assessmentOfClient pTemplate="item">
                                <div class="ui-g-12 ui-md-12 fa-border">
                                    <div class="ui-g-1 ui-md-1">
                                        <label>{{assessmentOfClient.assessment_name}}</label>
                                    </div>
                                    <div class="ui-g-3 ui-md-3">
                                        <label>{{assessmentOfClient.client_name}}</label>
                                    </div>
                                    <div class="ui-g-4 ui-md-4">
                                        <label>{{assessmentOfClient.desc}}</label>
                                    </div>
                                    <div class="ui-g-1 ui-md-1">
                                        <!--<button pButton type="button" icon="fa fa-edit" style="width:auto;"></button>-->
                                        <button pButton type="button" icon="fa fa-trash" (click)="deleteAssessmentOfClient(assessmentOfClient.id)" style="width:auto;"></button><br />
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataGrid>
                    </div>
                </div>
            </p-panel>
            &nbsp;
        </div>

        <p-dialog header="Assign Assessment to Client" [resizable]="true" responsive="true" [(visible)]="dialogVisible" modal="true" width="500">
            <div style="height:300px;">
                <div class="ui-g-4 ui-md-4">
                    <label for="input">Client :</label>
                </div>
                <div class="ui-g-8 ui-md-8">
                    <p-dropdown [options]="clientListIndividual" [(ngModel)]="addMapping.client_id" [autoWidth]="false" placeholder="Select Client"></p-dropdown>
                </div>

                <div class="ui-g-4 ui-md-4">
                    <label for="input">Assessment :</label>
                </div>
                <div class="ui-g-8 ui-md-8">
                    <p-dropdown [options]="assessmentListIndividual" [(ngModel)]="addMapping.assessment_id" [autoWidth]="false" placeholder="Select Assessment"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-12 text-center">
                    <button pButton type="button" label="Save" style="width:auto;" (click)="submitNewMapping()" [disabled]="addMapping.client_id == null || addMapping.client_id == '' || addMapping.assessment_id == null || addMapping.assessment_id == ''"></button>
                </div>
            </div>
        </p-dialog>

    </div>
</div>