<div class="dashboard">
    <h1><i class="material-icons">&#xE24B;</i>School Configuration</h1>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/schoolyear/school">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/report/school-scorecard.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">School</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/schoolyear/school">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/calendar.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">School in School Year</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/enrollment-attendance">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/studentinfo.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">Enrollment & Attendance</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/admin-assessments">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/assessment.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">Assessments</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/admin-assessments-upload">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/uploads.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">Assessment Uploads</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/school-comparison-list">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/comparative-school-list.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">School Comparison Lists</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
