<div class="dashboard">
    <h1><i class="material-icons">&#xE24B;</i>Admin</h1>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/admin/manageroles">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/report/school-scorecard.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">Manage Roles</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/admin/manageclients">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/calendar.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">Manage Clients</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="box-iconcard dashboard-card">
                <div class="content">
                    <a href="#/admin/manageusers">
                        <div class="card-image">
                            <div class="icon-wrapper">
                                <img class="img-responsive img-center" src="./assets/layout/images/admin/studentinfo.png" />
                            </div>
                        </div>
                        <div class="card-label">
                            <div class="label-inner">Manage Users</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
