<div class="dashboard">
    <h1><i class="material-icons">insert_chart</i> Reports</h1>
    <div class="ui-g">
        <div class="ui-g-6 ui-md-3 ui-lg-2">
            <div class="dashboard-card">
                <a href="#/school-comparison-list">
                    <div class="card-image">
                        <div class="icon-wrapper">
                            <img class="img-responsive img-center" src="./assets/layout/images/admin/comparative-school-list.png" />
                        </div>
                    </div>
                    <div class="card-label">
                        <div class="label-inner">School Comparison List</div>
                    </div>
                </a>
            </div>
        </div>        
    </div>
</div>
