<div class="ui-g ui-fluid seletor-panel">
    <div class="ui-g-12">
        <p-panel [toggleable]="true">
            <p-header>
                {{selectedOption}}
            </p-header>
            <div class="card card-w-title filter-pan">
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3">
                        <label class="control-label" for="selectedSchool">School</label>
                        <p-dropdown [options]="schools" [(ngModel)]="selectedSchool" (onChange)="schoolChange(this)" [autoWidth]="false" placeholder="--Select--"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3">
                        <label class="control-label" for="selectedYear">School Year</label>
                        <p-dropdown [options]="schoolYears" [(ngModel)]="selectedYear" (onChange)="schoolYearChange($event)" [autoWidth]="false"
                                    placeholder="--Select--"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3">
                        <label class="control-label" for="selectedTestVersion">Test Version</label>
                        <p-dropdown [options]="testVersions" [(ngModel)]="selectedTestVersion" [autoWidth]="false" placeholder="--Select--"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-2" *ngIf="IsSBACYear">
                        <label class="control-label" for="selectedTestVersion">SBAC Year</label>
                        <p-dropdown [options]="sbacYears" [(ngModel)]="selectedSBACYear" [autoWidth]="false" placeholder="--Select--"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-1">
                        <label class="control-label">&nbsp;</label>
                        <button pButton type="button" label="Go" (click)="onGoClick()" style="width:auto" [disabled]="selectedSchool == null || selectedYear == null || selectedTestVersion == null"></button>
                    </div>
                    <p-growl [(value)]="errorMsgs"></p-growl>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12">
        <div class="card card-w-title content-card">
            <div *ngIf="isPanelVisible && selectedSchool != null && selectedYear != null && selectedTestVersion != null">
                <div class="ui-g form-group header-box">
                    <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-3">
                        <label class="text-color text-normal" style="font-weight:normal; font-size:18px; color:black;" for="SchoolName">School : </label>
                        <span class="text-size text-color" style="font-size:18px; color:black;">{{school.SchoolName}}</span>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-3">
                        <label class="text-normal text-color" style="font-weight:normal; font-size:18px; color:black;" for="SchoolYear">School Year : </label>
                        <span class="text-size text-color" style="font-size:18px; color:black;">{{school.SchoolYear}}</span>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-6 ui-lg-3">
                        <label class="text-normal text-color" style="font-weight:normal; font-size:18px; color:black;" for="SchoolYear">Test Version : </label>
                        <span class="text-size text-color" style="font-size:18px; color:black;">{{testVersions.TestVersion}}</span>
                    </div>
                </div>
                <p-panel [toggleable]="true">
                    <p-header class="text-normal">
                        {{selectedOption}}
                    </p-header>
                    <div class="ui-g">
                        <div class="ui-g-12 div-center">
                            <label class="control-label text-bold">Upload File: </label>&nbsp;&nbsp;
                            <fileUpload [(fileData)]="fileData" (change)="fileData=$event"></fileUpload>
                        </div>
                        <div class="ui-g-12 div-center">
                            <button pButton type="button" label="Upload" (click)="uploadFile()" style="width:auto;"></button>
                        </div>
                    </div>
                    <p-panel>
                        <p-header class="text-bold">
                            Progress
                        </p-header>
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-12">
                                <p-messages [(value)]="UploadMsgs"></p-messages>
                                <p-messages [(value)]="UploadErrorMsgs"></p-messages>
                            </div>
                        </div>
                    </p-panel>
                </p-panel>
                &nbsp;
            </div>
        </div>
    </div>
</div>