<div class="ui-g ui-fluid seletor-panel">
    <div class="ui-g-12">
        <div class="card card-w-title content-card">
            &nbsp;
            <p-panel [toggleable]="true">
                <p-header class="text-normal">
                    Manage Roles
                </p-header>
                <p-growl [(value)]="msgs"></p-growl>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-md-12">
                        
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-1 ui-md-1 text-left">
                            <label class="text-bold">Role Name</label><br />
                        </div>
                        <div class="ui-g-2 ui-md-2">
                            <input type="text" pInputText [(ngModel)]="roleAdded.name" />
                        </div>
                        <div class="ui-g-1 ui-md-1 text-center">
                            <button pButton type="button" label="Add" (click)="addRole()" [disabled]="roleAdded.name == null || roleAdded.name == '' "></button>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <p-dataGrid [value]="roleList" [immutable]="false">
                            <ng-template let-role pTemplate="item">
                                <div class="ui-g-12 ui-md-12 fa-border">
                                    <div class="ui-g-3 ui-md-3">
                                        <input type="text" pInputText [(ngModel)]="role.id" disabled />
                                    </div>
                                    <div class="ui-g-1 ui-md-1">
                                        <input type="text" pInputText [(ngModel)]="role.name" />
                                    </div>
                                    <div class="ui-g-1 ui-md-1 text-center">
                                        <button pButton type="button" label="Update" (click)="updateRole(role.name, role.id)" [disabled]="role.name == null || role.name == '' "></button>
                                    </div>
                                    <div class="ui-g-1 ui-md-1">
                                        <button pButton type="button" icon="fa fa-trash" style="width:auto;" (click)="deleteRole(role.id)" [disabled]="role.name == null || role.name == '' "></button><br />
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataGrid>
                    </div>
                </div>
            </p-panel>
            &nbsp;
        </div>
    </div>
</div>