<div class="ui-g ui-fluid seletor-panel">
    <div class="ui-g-12" *ngIf="dialogVisible">
        <form id="frmSubCategory" #frmSubCategory="ngForm">
            <p-panel>
                <p-header>Manage Item</p-header>
                <div class="ui-g form-group">
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Name :</label>
                        <input id="input" type="text" pInputText [(ngModel)]="TaxonomyItem.name" name="name" tabindex="1" required />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Label :</label>
                        <input id="input" type="text" pInputText [(ngModel)]="TaxonomyItem.label" name="label" tabindex="2" required />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Content Target :</label>
                        <input id="input" type="text" pInputText [(ngModel)]="TaxonomyItem.content_target" name="content_target" tabindex="3" required />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Report Path :</label>
                        <input id="input" type="text" pInputText [(ngModel)]="TaxonomyItem.report_path" name="report_path" tabindex="4" required />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Component Name :</label>
                        <input id="input" type="text" pInputText [(ngModel)]="TaxonomyItem.component_name" name="component_name" tabindex="5" required />
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">&nbsp;</label><br />
                        <p-checkbox [(ngModel)]="TaxonomyItem.is_pagination" tabindex="6" value="1" label="Is Pagination" name="Is Pagination"></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Client Ids :</label>
                        <p-multiSelect [options]="clients" [(ngModel)]="TaxonomyItem.client_ids" [filter]="false" name="client ids" tabindex="4" [disabled]="TaxonomyItem.all_clients_flag==1"></p-multiSelect>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">Role Ids :</label>
                        <p-multiSelect [options]="roles" [(ngModel)]="TaxonomyItem.role_ids" [filter]="false" name="role ids" tabindex="5" [disabled]="TaxonomyItem.all_roles_flag==1"></p-multiSelect>
                    </div>
                    <div class="ui-g-12 ui-sm-12 ui-md-4">
                        <label for="input">&nbsp;</label><br />
                        <p-checkbox [(ngModel)]="TaxonomyItem.all_clients_flag" tabindex="9" value="{{1}}" binary="true" label="All Clients" name="All Clients"></p-checkbox>
                        <label for="input">&nbsp;</label>
                        <p-checkbox [(ngModel)]="TaxonomyItem.all_roles_flag" tabindex="10" value="{{1}}" binary="true" label="All Roles" name="All Roles"></p-checkbox>
                    </div>
                </div>
                <p-footer>
                    <div class="ui-helper-clearfix text-center">
                        <button type="submit" label="Save" (click)="saveItem()" pButton class="ui-button-primary" style="width:auto;" [disabled]="!frmSubCategory.form.valid"></button>
                        <button type="button" label="Cancel" (click)="clearItem(false)" pButton class="ui-button-secondary" style="width:auto;"></button>
                    </div>
                </p-footer>
            </p-panel>
        </form><br />
               <div class="ui-g form-group">
                   <div class="ui-g-12 ui-sm-12 ui-md-12">
                       <form id="frmItemParams" #frmItemParams="ngForm">
                           <p-panel [toggleable]="true" [collapsed]="true">
                               <p-header>Manage VJS Params Of Item</p-header>
                               <div class="ui-g form-group">
                                   <div class="ui-g-12 ui-sm-12 ui-md-4">
                                       <label for="input">Component Out Param :</label>
                                       <input id="input" type="text" pInputText [(ngModel)]="ItemParam.component_out_param" name="OutParamName" required />
                                   </div>
                                   <div class="ui-g-12 ui-sm-12 ui-md-4">
                                       <label for="input">Report Param :</label>
                                       <input id="input" type="text" pInputText [(ngModel)]="ItemParam.report_param" name="Report" required />
                                   </div>
                                   <div class="ui-helper-clearfix text-center">
                                       <br />
                                       <button type="submit" label="Save" (click)="saveItemParam()" pButton class="ui-button-primary" style="width:auto;" [disabled]="!frmItemParams.form.valid || TaxonomyItem.id==0 || TaxonomyItem.id==undefined"></button>
                                       <button type="button" label="Cancel" (click)="clearItemParam()" pButton class="ui-button-secondary" style="width:auto;"></button>
                                   </div>
                                   <div class="ui-g-12 ui-md-12">
                                       <p-dataTable [value]="ItemParamsList" [paginator]="true" [rows]="10" [responsive]="true" [(selection)]="ItemParam" [immutable]="false">
                                           <p-column field="component_out_param" header="Component Out Param" [sortable]="true"></p-column>
                                           <p-column field="report_param" header="Report Param" [sortable]="true"></p-column>
                                           <p-column [style]="{'width':'110px'}">
                                               <ng-template let-row="rowData" pTemplate="body">
                                                   <span>
                                                       <button pButton type="button" label="Update" (click)="editItemParam(row.id)" style="width:auto;" class="ui-button-primary" icon="fa fa-edit"></button>
                                                   </span>
                                               </ng-template>
                                           </p-column>
                                           <p-column [style]="{'width':'110px'}">
                                               <ng-template let-row="rowData" pTemplate="body">
                                                   <span>
                                                       <button pButton type="button" label="Delete" (click)="deleteItemParam(row.id)" style="width:auto;" class="ui-button-danger" icon="fa fa-trash"></button>
                                                   </span>
                                               </ng-template>
                                           </p-column>
                                       </p-dataTable>
                                   </div>
                               </div>
                           </p-panel>
                       </form>
                   </div>
                   <div class="ui-g-12 ui-sm-12 ui-md-6">
                       <form id="frmItemOfClient" #frmItemOfClient="ngForm">
                           <p-panel [toggleable]="true" [collapsed]="true">
                               <p-header>Manage Item Of Client</p-header>
                               <div class="ui-g form-group">
                                   <div class="ui-g-12 ui-sm-12 ui-md-6">
                                       <label for="input">Select Clients :</label>
                                       <p-dropdown [options]="clients" [(ngModel)]="client_id" (onChange)="clientChange(this)" [autoWidth]="false" placeholder="--Select--" name="client_id" required></p-dropdown>
                                   </div>
                                   <div class="ui-g-12 ui-sm-12 ui-md-6">
                                       <label for="input">Select Schools :</label>
                                       <p-multiSelect [options]="schools" [(ngModel)]="school_ids" [filter]="false" name="school_ids" defaultLabel="--Select--" required></p-multiSelect>
                                   </div>
                                   <div class="ui-helper-clearfix text-center">
                                       <button type="submit" label="Save" (click)="saveItemOfClient()" pButton class="ui-button-primary" style="width:auto;" [disabled]="!frmItemOfClient.form.valid || TaxonomyItem.id==0 || TaxonomyItem.id==undefined"></button>
                                       <button type="button" label="Cancel" (click)="clearItemOfClient()" pButton class="ui-button-secondary" style="width:auto;"></button>
                                   </div>
                                   <div class="ui-g-12 ui-md-12">
                                       <p-dataTable [value]="ItemOfClientList" [paginator]="true" [rows]="10" [responsive]="true" [immutable]="false">
                                           <p-column field="name" header="Client Name" [sortable]="true"></p-column>
                                           <p-column field="school_name" header="School Name" [sortable]="true"></p-column>
                                           <p-column [style]="{'width':'110px'}">
                                               <ng-template let-row="rowData" pTemplate="body">
                                                   <span>
                                                       <button pButton type="button" label="Delete" (click)="deleteItemOfClient(row.item_id,row.client_id,row.school_id)" style="width:auto;" class="ui-button-danger" icon="fa fa-trash"></button>
                                                   </span>
                                               </ng-template>
                                           </p-column>
                                       </p-dataTable>
                                   </div>
                               </div>
                           </p-panel>
                       </form>
                   </div>
                   <div class="ui-g-12 ui-sm-12 ui-md-6">
                       <form id="frmItemInRole" #frmItemInRole="ngForm">
                           <p-panel [toggleable]="true" [collapsed]="true">
                               <p-header>Manage Item In Role</p-header>
                               <div class="ui-g form-group">
                                   <div class="ui-g-12 ui-sm-12 ui-md-6">
                                       <label for="input">Select Roles :</label>
                                       <p-multiSelect [options]="roles" [(ngModel)]="role_ids" [filter]="false" name="role_ids" required></p-multiSelect>
                                   </div>
                                   <div class="ui-helper-clearfix text-center">
                                       <br />
                                       <button type="submit" label="Save" (click)="saveItemInRole()" pButton class="ui-button-primary" style="width:auto;" [disabled]="!frmItemInRole.form.valid || TaxonomyItem.id==0 || TaxonomyItem.id==undefined"></button>
                                       <button type="button" label="Cancel" (click)="clearItemInRole()" pButton class="ui-button-secondary" style="width:auto;"></button>
                                   </div>
                                   <div class="ui-g-12 ui-md-12">
                                       <p-dataTable [value]="ItemInRoleList" [paginator]="true" [rows]="10" [responsive]="true" [immutable]="false">
                                           <p-column field="name" header="Role Name" [sortable]="true"></p-column>
                                           <p-column [style]="{'width':'110px'}">
                                               <ng-template let-row="rowData" pTemplate="body">
                                                   <span>
                                                       <button pButton type="button" label="Delete" (click)="deleteItemInRole(row.item_id,row.role_id)" style="width:auto;" class="ui-button-danger" icon="fa fa-trash"></button>
                                                   </span>
                                               </ng-template>
                                           </p-column>
                                       </p-dataTable>
                                   </div>
                               </div>
                           </p-panel>
                       </form>
                   </div>
               </div>
    </div>
    <div class="ui-g-12">
        <p-panel>
            <p-header class="text-normal">
                Taxonomy Items
                <span class="pull-right">
                    <button type="button" label="Add" (click)="clearItem(true)" pButton class="ui-button-primary" style="width:auto;" icon="fa fa-plus"></button>
                    <a pButton label="Back" style="width:auto;" class="ui-button-info" icon="fa fa-backward" href="#/taxonomy/subcategory/{{type_Id}}/{{category_Id}}"></a>
                </span>
            </p-header>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">
                    <p-dataTable [value]="ItemList" [paginator]="true" [rows]="10" [responsive]="true" [(selection)]="TaxonomyItem" [immutable]="false">
                        <p-column field="name" header="Name" [sortable]="true"></p-column>
                        <p-column field="label" header="Label" [sortable]="true"></p-column>
                        <p-column field="component_name" header="Component Name" [sortable]="true"></p-column>
                        <p-column [style]="{'width':'110px'}">
                            <ng-template let-row="rowData" pTemplate="body">
                                <span>
                                    <button pButton type="button" label="Update" (click)="editItem(row.id)" style="width:auto;" class="ui-button-primary" icon="fa fa-edit"></button>
                                </span>
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'110px'}">
                            <ng-template let-row="rowData" pTemplate="body">
                                <span>
                                    <button pButton type="button" label="Delete" (click)="deleteItem(row.id,row.user_id)" style="width:auto;" class="ui-button-danger" icon="fa fa-trash"></button>
                                </span>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </p-panel>
    </div>
</div>
