<div class="ui-g ui-fluid seletor-panel">
    <div class="ui-g-12">
        <div class="card card-w-title content-card">
                &nbsp;
                <p-panel [toggleable]="true">
                    <p-header class="text-normal">
                        Schools
                    </p-header>
                    <p-growl [(value)]="msgs"></p-growl>
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-7 ui-md-7 text-left">
                                <label class="text-bold">School Name</label><br />
                            </div>
                            <div class="ui-g-2 ui-md-2">
                                <label class="text-bold">Code</label><br />
                            </div>
                            <div class="ui-g-2 ui-md-2">
                                <label class="text-bold">Power School Abbreviation</label><br />
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-g-7 ui-md-7">
                                <input type="text" pInputText [(ngModel)]="schoolAdded.name" />
                            </div> 
                            <div class="ui-g-2 ui-md-2">
                                <input type="text" pInputText [(ngModel)]="schoolAdded.code" />
                            </div>
                            <div class="ui-g-2 ui-md-2">
                                <input type="text" pInputText [(ngModel)]="schoolAdded.abbrev_ps" />
                            </div>
                            <div class="ui-g-1 ui-md-1 text-center">
                                <button pButton type="button" label="Add" (click)="addSchool()" [disabled]="schoolAdded.name == null || schoolAdded.name == '' || schoolAdded.code == null || schoolAdded.code =='' || schoolAdded.abbrev_ps == null || schoolAdded.abbrev_ps == ''"></button>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <p-dataGrid [value]="schoolDetailList" [immutable]="false">
                                <ng-template let-school pTemplate="item">
                                    <div class="ui-g-12 ui-md-12">
                                        <div class="ui-g-7 ui-md-7">
                                            <label>{{school.name}}</label>
                                        </div>
                                        <div class="ui-g-2 ui-md-2">
                                            <input type="text" pInputText [(ngModel)]="school.code" />
                                        </div>
                                        <div class="ui-g-2 ui-md-2">
                                            <input type="text" pInputText [(ngModel)]="school.abbrev_ps" />
                                        </div>
                                        <div class="ui-g-1 ui-md-1 text-center">
                                            <button pButton type="button" label="Update" [disabled]="school.code == null || school.code == '' || school.abbrev_ps == null || school.abbrev_ps == ''" (click)="editSchool(school.id)" style="width:auto;"></button>
                                            <button pButton type="button" icon="fa fa-trash" (click)="deleteSchool(school.id)" style="width:auto;"></button><br />
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dataGrid>
                        </div>
                    </div>
                </p-panel>
                &nbsp;
        </div>
    </div>
</div>